

    html,body,div,span,applet,object,iframe,
    h1,h2,h3,h4,h5,h6,p,blockquote,pre,
    a,abbr,acronym,address,big,cite,code,
    del,dfn,em,img,ins,kbd,q,s,samp,
    small,strike,strong,sub,sup,tt,var,
    b,u,i,center,
    dl,dt,dd,ol,ul,li,
    fieldset,form,label,legend,
    table,caption,tbody,tfoot,thead,tr,th,td,
    article,aside,canvas,details,figcaption,figure,
    footer,header,hgroup,menu,nav,section,summary,
    time,mark,audio,video{
        margin:0;
        padding:0;
        border:0;
        outline:0;
        font-size:100%;
        font:inherit;
        vertical-align:baseline;
    }
    li{
        list-style-type: none;
        margin: 2vw 0;
        
        font-size: 3vh;
      }
      
      a{
        text-decoration: none;
        color: black;
        font-family: monospace;
      
        padding: 2vw;
      }
      
      .nav{
        width: 90vw;
        background-color: #d8f3b3;
      }
      
      ul{
        display: block;
        margin: 0;
        padding: 0;
        
        display: flex;  
      }
      
      .open-close{
        display: none;
      }
      
      .head:hover{
        background-color: #82ae46;
      }
      
      @media only screen and (max-width: 500px) {
        ul{
          flex-direction: column;
        }
        
        a{
          display: block;
        }
        
        li{
          margin: 0;
        }
        
        .open-close{
          display: block;
          
          padding: 2vw;
          font-size: 3vh;
          background-color: #82ae46;
          border: none;
          outline: none;
          cursor: pointer;
          
          align-self: flex-start;
        }
      }
    h1{
        color: #82ae46;
    }
    /* HTML5 display-role reset for older browsers */
    article,aside,details,figcaption,figure,
    footer,header,hgroup,menu,nav,section{
        display:block;
    }
    body{
        line-height:1;
    }
    ol,ul{
        list-style:none;
    }
    blockquote,q{
        quotes:none;
    }
    blockquote:before,blockquote:after,
    q:before,q:after{
        content:’’;
        content:none;
    }
    /* remember to define visible focus styles! 
    :focus{
        outline:?????;
    } */
    
    /* remember to highlight inserts somehow! */
    ins{
        text-decoration:none;
    }
    del{
        text-decoration:line-through;
    }
    
    table{
        border-collapse:collapse;
        border-spacing:0;
    }
    
    /*------------------------------------*\
        $MAIN
    \*------------------------------------*/
    
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
    
    body {
        margin: 0 auto;
        width: 90%;
        max-width: 1240px;
        font-family: 'Roboto', sans-serif;
        background-color: #f6f6f6;
    }
    
    /* Typography */
    
    h1 {
        font-size: 28px;
        font-weight: 300;
        flex: 1;
    }
    
    h5 {
        font-weight: 500;
        line-height: 1.7em;
    }
    
    h6 {
        color: #666;
        font-size: 14px;
    }
    
    /* Product Layout */
    
    .product-filter {
        display: flex;
        padding: 30px 0;
    }
    
    .sort {
        display: flex;
        align-self: flex-end;
    }
    
    .collection-sort {
     display: flex;
        flex-direction: column;
    }
    
    .collection-sort:first-child {
        padding-right: 20px;
    }
    
    label {
        color: #666;
        font-size: 10px;
        font-weight: 500;
        line-height: 2em;
        text-transform: uppercase;
    }
    
    .products {
        display: flex;
        flex-wrap: wrap;
    }
    
    .product-card {
        display: flex;
        flex-direction: column;
        
        padding: 2%;
        flex: 1 16%;
        
        background-color: #FFF;
        box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
    }
    
    .product-image img {
        width: 100%;
    }
    
    .product-info {
        margin-top: auto;
        padding-top: 20px;
        text-align: center;
    }
    .footer {
        color: #666;
        font-size: 10px;
        font-weight: 500;
        line-height: 2em;
        display: inline;
        text-align: center;
        text-transform: uppercase;
    }
    
    @media ( max-width: 920px ) {
        
        .product-card {
            flex: 1 21%;
        }
        
        .products .product-card:first-child, 
        .products .product-card:nth-child(2) {
            flex: 2 46%;
        }
        
    }
    
    @media ( max-width: 600px ) {
        
        .product-card {
            flex: 1 46%;
        }
        
    }
    
    @media ( max-width: 480px ) {
        
        h1 {
            margin-bottom: 20px;
        }
        
        .product-filter {
            flex-direction: column;
        }
        
        .sort {
            align-self: flex-start;
        }
        
    }
    @import url(https://fonts.googleapis.com/css?family=Roboto:300);

    .login-page {
      width: 360px;
      padding: 8% 0 0;
      margin: auto;
    }
    .form {
      position: relative;
      z-index: 1;
      background: #FFFFFF;
      max-width: 360px;
      margin: 0 auto 100px;
      padding: 45px;
      text-align: center;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    .form input {
      font-family: "Roboto", sans-serif;
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
    }
    .form button {
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: #4CAF50;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
    }
    .form button:hover,.form button:active,.form button:focus {
      background: #43A047;
    }
    .form .message {
      margin: 15px 0 0;
      color: #b3b3b3;
      font-size: 12px;
    }
    .form .message a {
      color: #4CAF50;
      text-decoration: none;
    }
    .form .register-form {
      display: none;
    }
    .container {
      position: relative;
      z-index: 1;
      max-width: 300px;
      margin: 0 auto;
    }
    .container:before, .container:after {
      content: "";
      display: block;
      clear: both;
    }
    .container .info {
      margin: 50px auto;
      text-align: center;
    }
    .container .info h1 {
      margin: 0 0 15px;
      padding: 0;
      font-size: 36px;
      font-weight: 300;
      color: #1a1a1a;
    }
    .container .info span {
      color: #4d4d4d;
      font-size: 12px;
    }
    .container .info span a {
      color: #000000;
      text-decoration: none;
    }
    .container .info span .fa {
      color: #EF3B3A;
    }
    #body {
      background: #76b852; /* fallback for old browsers */
      background: -webkit-linear-gradient(right, #76b852, #8DC26F);
      background: -moz-linear-gradient(right, #76b852, #8DC26F);
      background: -o-linear-gradient(right, #76b852, #8DC26F);
      background: linear-gradient(to left, #76b852, #8DC26F);
      font-family: "Roboto", sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;      
    }
    /* FARMERS */
    .grid-container {
      display: inline-grid;
      grid-template-columns: auto auto auto;
      background-color: #76b852;
      padding: 1px;
      width: 90vw;
      height: 400px;
    }
    
    .item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 5px;
      font-size: 14px;
      text-align: left;
    }
    div.img {
      margin: 5px;
      border: 1px solid #ccc;
      float: left;
      width: 180px;
    }
    div.img img {
      width: 100%;
      height: auto;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    